version: "3.8"

services:
  nfs-server:
    image: erichough/nfs-server:latest
    cap_add:
      - SYS_ADMIN
      - SYS_CHROOT
    environment:
      - NFS_EXPORT_0=/data 192.168.0.0/16(rw,fsid=0,insecure,no_subtree_check,async)
    volumes:
      - nfs-storage:/data
    networks:
      - nfs-net
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
    ports:
      - target: 2049
        published: 2049
        mode: host
      - target: 111
        published: 111
        mode: host

volumes:
  nfs-storage:

networks:
  nfs-net:
    driver: overlay
    attachable: true
