version: "3.8"

services:
  prometheus:
    image: prom/prometheus:v2.52.0

    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=7d"
      - "--web.enable-lifecycle"
      - "--web.listen-address=0.0.0.0:9090"   # 修改：监听所有网卡，避免 IP 报错
    volumes:
      - prometheus-data:/prometheus

    configs:
      - source: prometheus-config
        target: /etc/prometheus/prometheus.yml

    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.prom.rule=Host(`prometheus.swarm.wuyuan.dev`)"
        - "traefik.http.routers.prom.entrypoints=websecure"
        - "traefik.http.routers.prom.tls.certresolver=le"
        - "traefik.http.services.prom.loadbalancer.server.port=9090"
        - "traefik.http.routers.prom.middlewares=prom-auth"
        - "traefik.http.middlewares.prom-auth.basicauth.users=admin:$$apr1$$Atxwdnul$$KrEHt7Vc2S7fl8G6YcIjN."


    networks:
      - monitor-net
      - traefik-net

  node-exporter:
    image: prom/node-exporter:v1.8.1
    deploy:
      mode: global
    command:
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    networks:
      - monitor-net

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    deploy:
      mode: global
    command:
      - "--docker_only=true"
      - "--housekeeping_interval=30s"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
    networks:
      - monitor-net

volumes:
  prometheus-data:


configs:
  prometheus-config:
    file: ./prometheus.yml

networks:
  monitor-net:
    driver: overlay
  traefik-net:
    external: true
